# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=

# Database
DATABASE_URL=

# External APIs
ANILIST_API_URL=https://graphql.anilist.co
JIKAN_API_URL=https://api.jikan.moe/v4

# App
LOG_LEVEL=info
APP_ENV=production

# CLI scripts (optional, only for scripts/deploy-commands.ts)
TEST_GUILD_ID=